body {
  background-color:#f6f6f6;
  font-family: helvetica;
}

a {
  color: #0645ad;
}
.container {

}

#wikiLogo h1 {
  font-size: 24px;
}

.labelz {
  color:black;
  padding-top: 15px;
  border-bottom: 1px solid #BBB;
  margin-bottom: 5px;
}

.green-wikitable h1 {
  background-color: #cef2e0;
  width:100%;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #a3bfb1;
}

.blue-wikitable h1 {
  background-color: #cedff2;
  width:100%;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #a3b0bf;
}

.blue-wikitable ul {
  padding-left: 25px;
}

#all-content {
}

#nav {
  line-height: 1.66em;
  font-size: 12px;
  padding-left: 25px;
  word-wrap: break-word;
}

#main {
  background-color: white;
}

#header {
  height: 100px;
  background-color: #f6f6f6;

}

.pix {
  float: right;
  margin: 6px;
}

.pixText {
  font-size: 12.3px;
  color: black;
  word-break:break-all;
}

#miracles {
  width:133px;
}

#prez {
  width:102px;
}

#pinafore {
  width: 160px;
}

#toc {
  margin:1.2em 0 6px 0;
  height:93px;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
}

#LogoRow div ul {
  margin-top: 14px;
  font-size: 13px;
  line-height: 1.6em;
  padding: 10px;
  padding-top: 0px;
}

#greenCol {
  background-color: #f5fffa;
}

#blueCol {
  background-color: #f5faff;
}

#coins {
  width:200px;
  float: left;
  margin: 10px;
}
